* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  background: #1c1c1c;
  overflow: hidden;
  height: 100vh;
}

.bar {
  color: black;
  padding: 16px;
}

.health {
  padding: 16px;
}

.gameBoy {
  max-width: 420px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0 auto;
  height: 657px;
}

.parameters
{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.tamago
{
  width: 152px;
  height: 138px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mood
{
  color: #724D50;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -180px;
}

.buttons
{
  width: 293px;
  height: 76px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  border: none;
  gap: 34px;
  position: relative;
  overflow: hidden;
  top: -150px;
}

.hunger
{
  float: right;
  margin: 10px;
  border: none;
  background: none;
  background-image: url('js\assets\ellipse.svg');
}

.sleep
{
  float: right;
  margin: 10px;
  border: none;
  background: none;
  background-image: url('js\assets\ellipse.svg');
}

.fun
{
  float: right;
  margin: 10px;
  border: none;
  background: none;
  background-image: url('js\assets\ellipse.svg');
}

.hunger:hover
{
  background-image: url('js\assets\ellipseHover.svg');
}

.sleep:hover
{
  background-image: url('js\assets\ellipseHover.svg');
}

.fun:hover
{
  background-image: url('js\assets\ellipseHover.svg');
}